.sort {
  position: relative;
  width: calc(100% - 50px);
  display: flex;
  background-color: #fffdfd;
  filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 15px;

  &::before {
    position: absolute;
    content: '';
    width: 50px;
    left: -49px;
    top: 0;
    bottom: 0;
    background: #fffdfd;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 100% 0%);
  }

  &__block {
    width: 150px;
    display: flex;
    flex-direction: column;
    &:last-child {
      margin-left: 40px;
      width: fit-content;
    }
  }

  &__param {
    max-width: 150px;
    height: 36px;
    border: none;
    background-image: linear-gradient(to top, #161631, #2e2f5b);
    font-size: 16px;
    color: #ffffff;
    box-shadow: 0px 10px 6px rgb(0 0 0 / 25%);
    font-family: 'Inder', sans-serif;
    cursor: pointer;
    margin-bottom: 10px;

    &_active {
      background: linear-gradient(180deg, #388d5a 0%, #285b3c 100%);
    }
  }

  &__img {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    border: 1px solid #2e2f5b;
    width: 45px;
    height: 45px;
    filter: drop-shadow(0px 0px 3px #2e2f5b);
    box-shadow: 0px 10px 6px rgb(0 0 0 / 25%);
    cursor: pointer;

    &_ascending {
      background-image: url('../../static/ascending.svg');
    }

    &_descending {
      margin-left: 20px;
      background-image: url('../../static/descending.svg');
    }

    &:hover {
      filter: drop-shadow(1px 1px 1px #388d5aaf);
      background-color: rgba(56, 141, 90, 0.095);
    }

    &_active {
      filter: drop-shadow(1px 1px 1px #388d5a);
      background-color: rgb(56 141 90 / 10%);
    }
  }

  &__label {
    text-align: center;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-shadow: 0px 10px 6px rgb(0 0 0 / 25%);
  }
}
