@import '../../styles/variables';

.store {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.store__left {
  flex-grow: 1;
  min-width: 600px;
  // background: #15d47e20;
}

.store__right {
  width: 400px;
  min-width: 400px;
  // background: #c2778a20;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
