* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  // max-width: 4000px;
  margin: auto;
  background: linear-gradient(257.8deg, #e5e5ff 5.53%, #b8b6c7 91.73%);
  background-position: center;
  background-size: cover;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#root {
  height: 100%;
}

