@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');

// font-family: 'Inder', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Kaisei Tokumin', serif;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  margin: auto;
  background: linear-gradient(257.8deg, #e5e5ff 5.53%, #b8b6c7 91.73%);
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

#root {
  height: 100%;
}

.hidden {
  display: none !important;
}

.dissolved {
  opacity: 0 !important;
}
