@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');

// font-family: 'Inder', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Kaisei Tokumin', serif;

.pp-game {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 1265px;
  margin: 40px auto 60px 25px;
  border-radius: 7px;
  font-family: 'Kaisei Tokumin', serif;
}

.pp-game__name {
  font-family: 'Kaisei Tokumin', serif;
  font-size: 48px;
  font-weight: 500;
  margin: 25px auto 22px 44px;
}

.pp-game__details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.pp-img-box {
  position: relative;
  margin-left: 44px;
  display: flex;
  align-items: center;
}

.pp-img-box__img {
  border-radius: 10px;
  width: 690px;
  border: 1px solid transparent;
}

.pp-zoom-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.425));
  }
}

.pp-zoom-btn__img {
  height: 35px;
}

.pp-dtls-box {
  margin-left: 55px;
  font-size: 28px;
}

.pp-dtls-box__price {
  margin-top: 5px;
}

.pp-controls {
  margin: 17px 0 70px 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pp-img-panel {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.pp-img-panel__img {
  height: 102px;
  border-radius: 5px;
  margin-right: 16px;
  border: 1px solid transparent;

  &:hover {
    border-color: #2e2f5b;
  }
}

.pp-controls__btn {
  width: 260px;
  height: 80px;
  font-size: 30px;
  background-image: linear-gradient(to top, #161631, #2e2f5b);
  color: #ffffff;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
  font-family: 'Inder', sans-serif;
  margin: 12px 120px 0 0;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to top, #272756, #414280);
  }

  &:active {
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
  }
}

.pp-game__split-line {
  width: 90%;
  height: 2px;
  border-radius: 6px;
  background-color: #161631;
  margin: 0 auto 40px auto;
  position: relative;
}

.pp-game__descr-head {
  margin: 0 auto 10px 44px;
  font-size: 30px;
}

.pp-game__description {
  margin: 0 380px 100px 44px;
  font-size: 20px;
  min-height: 200px;
}

.pp-game__decor {
  height: 280px;
  position: absolute;
  right: -36px;
  top: 40px;
}
