@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  height: 344px;
  width: 100%;
  background: linear-gradient(92.6deg, #2e2a40 5.1%, #0f0f1f 94.81%);
  margin-top: auto;

  &::before {
    position: absolute;
    content: '';
    top: 30px;
    left: 28px;
    width: 325px;
    height: 182px;
    background-image: url('../../static/footer-logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 190px;
    height: 190px;
    background-image: url('../../static/spider.png');
  }

  &__nav {
    margin: 0 90px 40px 0;
    display: flex;
  }

  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__link-img {
    width: 120px;
    background-repeat: no-repeat;
    margin-right: 60px;
  }

  &__link-text {
    font-family: 'Inder', sans-serif;
    font-size: 20px;
    color: #fff;
    margin-right: 30px;
  }
}
