@import './../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&display=swap');

.search-view-params-block {
  position: absolute;
  right: 0;
  top: 100px;
  width: 340px;
  padding-left: 24px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fffdfd;
  filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25));
  border-radius: 2px;

  &::before {
    content: '';
    height: 0px;
    width: 50px;
    background-color: transparent;
    position: absolute;
    left: 0;
    z-index: -1;
    border-right: 80px solid #fffdfd;
    border-bottom: 300px solid transparent;
    transform: translateX(-129px);
  }
  &__games-found {
    font-size: 20px;
    margin: 25px auto 15px auto;
    font-weight: 600;
    font-family: 'Inder', sans-serif;
    border-bottom: 1px solid black;
  }

  &__btn {
    height: 36px;
    width: 260px;
    margin-top: 15px;
    border: none;
    background-image: linear-gradient(to top, #161631, #2e2f5b);
    font-size: 18px;
    color: #ffffff;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
    font-family: 'Inder', sans-serif;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to top, #272756, #414280);
    }

    &:active {
      background-image: linear-gradient(to top, #161631, #2e2f5b);
      box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    }
  }
}

.search-view-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  &__word {
    font-size: 20px;
    font-family: 'Inder', sans-serif;
  }

  &__btn {
    height: 36px;
    width: 60px;
    margin-left: 15px;
    border: none;
    background-image: linear-gradient(to top, #161631, #2e2f5b);
    font-size: 16px;
    color: #ffffff;
    box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.25);
    font-family: 'Inder', sans-serif;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to top, #272756, #414280);
    }

    &:active {
      background-image: linear-gradient(to top, #161631, #2e2f5b);
      box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);
    }
  }
}
