@import './../../styles/variables';

.promo-code {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2px;
  padding: 5px;

  &:hover {
    background-color: #e5e5ff;
  }

  &__name {
    margin: auto 0 auto 5px;
    font-size: 14px;
  }

  &__value {
    margin: auto auto auto 10px;
    width: 40px;
    font-size: 14px;
  }

  &__deactivate {
    width: 30px;
    height: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    display: flex;

    & img {
      width: 20px;
      display: block;
      margin: auto;
    }

    &:hover {
      background-color: rgb(189, 74, 74);
      box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.248);
    }

    &:active {
      box-shadow: 2px 2px 3px inset rgba(0, 0, 0, 0.248);
    }

    @media (max-width: 1200px) {
      width: 20px;
      height: 100%;
      padding: 2px;

      & img {
        width: 15px;
        margin: 0;
      }
    }
  }

  @media (max-width: 1200px) {
    width: 165px;
    font-size: 11px;
  }
}
