@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Inder&family=Julius+Sans+One&family=Kaisei+Tokumin:wght@400;500;700;800&display=swap');

// font-family: 'Inder', sans-serif;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Kaisei Tokumin', serif;

.sc-content {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding-bottom: 30px;
}

.empty-header-cart {
  font-family: 'Inder', sans-serif;
  font-size: 18px;
  width: 250px;
  text-align: center;
  margin: 20px auto;
  border-top: 1px solid black;
}
